/*
______     __         ______     ______   __  __     ______     ______   ______   __  __   
/\  ___\   /\ \       /\  __ \   /\  == \ /\ \_\ \   /\  __ \   /\  == \ /\  == \ /\ \_\ \  
\ \___  \  \ \ \____  \ \  __ \  \ \  _-/ \ \  __ \  \ \  __ \  \ \  _-/ \ \  _-/ \ \____ \ 
 \/\_____\  \ \_____\  \ \_\ \_\  \ \_\    \ \_\ \_\  \ \_\ \_\  \ \_\    \ \_\    \/\_____\
  \/_____/   \/_____/   \/_/\/_/   \/_/     \/_/\/_/   \/_/\/_/   \/_/     \/_/     \/_____/
*/
* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/bg.jpg");  
    background-size: 100%;
    overflow-x: hidden;
}

.nameMe {
    font-family: 'Rammetto One', cursive;
    background: white;
    color: red;
    text-align: center;
    border-style: double;
    border-width: 5px;
    border-color: red;
    border-radius: 12px;
    margin: 1% auto 2% auto;
}

.slapMeHappy {
    padding-top: 1%;
    width: 95%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.mainText {
    text-align: center;
}

.mainImage {
    text-align: center; 
}

.enterImg {
    width: 80%;
}

.authentication {
    background: white;
    border: solid 1px red;
    border-radius: 15px;
    height: 190px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 4%;  
}

h5 {
    text-align: center;
    background: white;
    width: 70%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid red .5px;
    
}

iframe {
    border: solid lightsteelblue 1px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.holdMe {  
    cursor: pointer;
    border: solid 2px slategray;
    border-radius: 25px;
    max-width: 70%;  
    margin: 0 auto 0 auto;
    display: block;
}

.maps {
    border-radius: 25px;
    display: block;
    margin: 0 auto 0 auto;
}

.h2Me {
    background: white;
    text-align: center;
    border-radius: 20px;
    padding: 1%;
    margin: 0 auto 1% auto;
    max-width: 80%;
    border-color: red;
    border-width: 3px;  
    border-style: inset;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;  
    color: lightgoldenrodyellow;
}








